@model IEnumerable<Applicant>
@{
    int index = 0;
}

<a class="btn btn-light btn-sm" asp-action="Logout">Logout</a>
<h1>Dashboard</h1>
<p>
    Welcome to admin dashboard.
</p>
<div class="table-responsive">
<table class="table">
    <tr class="thead-dark">
        <th width="5%">S.No</th>
            <th width="20%">Full Name</th>
            <th width="15%">Phone</th>
            <th width="20%">Email</th>
            <th width="10%">Type</th>
            <th width="30%">Action</th>
    </tr>
    @foreach (var item in Model)
        {
            <tr>
                <td>@index++ </td>
                <td>@item.FullName</td>
        <td>@item.Phone</td>
        <td>@item.Email</td>
        <td>@item.PerformanceType</td>
        <td>
            <a 
                asp-action="CheckPaymentStatus" 
                asp-route-id="@item.TransactionId"
                id="check_payment_status"
                class="btn btn-primary" 
                data-toggle="modal" 
                data-target="#paymentStatusModal">
                        <span class="material-symbols-outlined">
                            credit_score
                        </span>
                Status
            </a>
        </td>
    </tr>
    }
</table>
</div>


<!-- Modal -->
<div class="modal fade" id="paymentStatusModal" tabindex="-1" role="dialog" aria-labelledby="paymentStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
         </div>
    </div>
</div>